<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-compatible' content="IE=edge">
	<meta name='viewport' content="width=device-width,initial-scale=1.0">
	<title>REEN.</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" 
	integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" 
	crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="./assets/css/style.css">
	<link rel="stylesheet" href="./assets/css/helper.css">
</head>
<body>
	<section class='headerIcon'>
		<div class='container'>
			<div class='row'>
				<div class="col-6">
					<div class="contact">
						<i class="fas fa-envelope"></i>
						<span><a href="javascript:;">info@reen.com</a></span>
						<i class="fas fa-mobile-alt"></i>
						<span><a href="javascript:;">+00 (123) 456 78 90</a></span>
					</div>
				</div>
				<div class="col-6">
					<div class="headerIcons alignRight">
						<a href="javascript:;"><i class="fab fa-facebook-f"></i></a>
						<a href="javascript:;"><i class="fab fa-google-plus-g"></i></a>
						<a href="javascript:;"><i class="fab fa-twitter"></i></a>
						<a href="javascript:;"><i class="fab fa-pinterest-p"></i></a>
						<a href="javascript:;"><i class="fab fa-behance"></i></a>
						<a href="javascript:;"><i class="fab fa-gg-circle"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<header>
		<div class="container">
			<div class="row navigation">
				<div >
					<div class="col-2">
						<div class="logo">
							<img src="./assets/images/logo.png">
						</div>
					</div>
					<div class="col-8">
						<nav class="navbar">
							<ul>
								<li>
									<a href="javascript:;">home</a>
								</li>
								<li>
									<a href="javascript:;">portfolio</a>
								</li>
								<li>
									<a href="javascript:;">blog</a>
								</li>
								<li>
									<a href="javascript:;">pages</a>
								</li>
								<li>
									<a href="javascript:;">features</a>
								</li>
								<li>
									<a href="javascript:;">mega menu</a>
								</li>
								<li>
									<a href="javascript:;">contact</a>
								</li>
							</ul>
						</nav>
					</div>
					<div class="col-2">
						<div class="searchbox">
							<i class="fas fa-search"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	<header>
	<section class='hero'>
		<div class='container'>
			<div class='row'>
				<div class="col-10 ml-oneGrid">
					<div class='heroInfo'>
						<h1 class="heroHeading alignCenter">Made for Designers</h1>
						<p class="heroPara alignCenter">
							Create your online portfolio in minutes with the professionally 
							and lovingly designed REEN website template. 
							Customize your site with versatile and easy to use features.
						</p>
						<div class="startbtn alignCenter">
							<button>get started now</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="responsive">
		<div class="container">
			<div class="row mb-80">
				<div class="col-8 ml-2grid">
					<div class="bcr alignCenter">
						<h2>Beautiful. Clean. Responsive.</h2>
						<p>
							REEN is a high-quality solution for those who want a beautiful website in no time. 
							It's fully responsive and will adapt itself to any mobile device. 
							iPad, iPhone, Android, it doesn't matter. 
							Your content will always looks its absolute best.
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="thumbnail">
						<div class="thumbIcon">
							<i class="fas fa-heart"></i>
						</div>
						<div class="thumbInfo">
							<h3 class="thumbHeading mb-30">Passion</h3>
							<p class="thumbPara">
								Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. 
								Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.
							</p>
						</div>
					</div>
					<div class="thumbnail">
						<div class="thumbIcon">
							<i class="fas fa-lightbulb"></i>
						</div>
						<div class="thumbInfo">
							<h3 class="thumbHeading mb-30">Creativity</h3>
							<p class="thumbPara">
								Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. 
								Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.
							</p>
						</div>
					</div>
					<div class="thumbnail">
						<div class="thumbIcon">
							<i class="fas fa-star"></i>
						</div>
						<div class="thumbInfo">
							<h3 class="thumbHeading mb-30">quality</h3>
							<p class="thumbPara">
								Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. 
								Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	
	<script src="./assets/js/app.js"></script>
</body>
</html>