.boxone{
    width: 50%;
    height: 500px;
    background-color: black;
    margin: 0 auto;
    padding: 200px;
    
}

.d-box,.d-Box,.box1{
    width: 200px;
    height: 200px;
    background-color: red;
    margin: auto;
    text-align: center;
    transition: all 2s ease-in-out 0.5s;
}
.d-box:hover{
    transform: rotateX(70deg);
}
.box1{
    /* transform-origin: right top; */
    /* transform-origin: 50% 50%; */
    /* transform-origin: 0% 0%; */
    transform-origin: left bottom;
    margin-top: 15px;
}
.d-Box:hover,.box1:hover{
    transform: perspective(500px) rotateX(70deg);
}
.rotateY,.rotate-Y,.rotateZ,.rotatez,.rotatetranslate,.rotatetransX,.rotatetransY{
    height: 250px;
    width: 250px;
    border: 5px solid teal;
    margin:20px auto;
    text-align: center;
    transition: all 2s ease-in-out 0.5s;
}
.rotateY:hover{
    transform: rotateY(70deg);
}
.rotate-Y:hover{
    transform: perspective(500px) rotateY(360deg);
}
.rotateZ:hover{
    transform: perspective(500px) rotateZ(180deg);
}
.rotatez{
    transform-origin: left top;
}
.rotatez:hover{
    transform: perspective(500px) rotateZ(360deg);
}
.rotatetranslate:hover{
    transform: perspective(500px) rotate(180deg) translateZ(300px);
}
.rotatetransX:hover{
    transform: perspective(500px) rotate(180deg) translateX(300px);
}
.rotatetransY:hover{
    transform: perspective(500px) rotate(180deg) translateY(300px);
}